body {
    overflow: hidden;
    background: linear-gradient(180deg, rgb(9, 5, 47) 0%, rgb(69, 75, 231) 49%, rgb(5, 6, 44) 100%);
}

polyline {
    cursor: pointer;
}

polyline:hover {
    fill: #a1a9fa;
}