body {
    overflow: hidden;
    background-color: #29307C;
}

@font-face {
    font-family: chromia;
    src: url("Chromia-Supercap-Bold.otf");
}

polyline {
    cursor: pointer;
}

polyline:hover {
    fill: #a8a8a8;
}

text {
    font-family: chromia;
    pointer-events: none;
}